<a href="https://colab.research.google.com/github/ShubhamMahajan880/Impact-Training-_Python-Notes-/blob/main/15_Magic_Methods_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Magic Methods in Python** : -

In [ ]:
class bx:
  def __init__(self,p):
    self.p=p
  def __add__(self,other):
    d=self.p+other.p
    return d

class by:
  def __init__(self,p):
    self.p=p

b1=bx(200)
b2=by(100)
print(b1,b2)
print(b1+b2)#300

<__main__.bx object at 0x79ed7970ed10> <__main__.by object at 0x79ed7970f040>
300

In [ ]:
a=5
b=10
a.__add__(b)

15

In [ ]:
class employee:
  def __init__(self,ename,esal):
    self.ename = input("Name of the Employee is ")
    self.sal=int(input("ENter the salary "))

class attendace:

  def __init__(self.ename,wdays):
    self.wdays=int(input("Enter the number of working days of employee "))

  def display(self):
    def __multiply__(self,other):
    d = self.sal*

In [ ]:
class employee:
  def __init__(self,name,sal):
    self.name=name
    self.sal=sal

  def __mul__(self,other):
    d=self.sal*other.days
    return d

class attendance:
  def __init__(self,name,days):
    self.name=name
    self.days=days

e1=employee("Shubham",10000)
a1=attendance("Shubham",15)
print(e1*a1)#e1.__mul__(a1)

150000

In [ ]:
a=10
b=5
a.__add__(b)

15

In [ ]:
a.__sub__(b)

5

In [ ]:
a.__mul__(b)

50

In [ ]:
a.__div__(b)

AttributeError: 'int' object has no attribute '__div__'

In [ ]:
a.__gt__(b)

True

In [ ]:
a.__lt__(b)

False

In [ ]:
a.__ge__(b)

True

In [ ]:
a.__le__(b)

False

In [ ]:
a.__truediv__(b)

2.0

In [ ]:
a.__divmod__(b)

(2, 0)

In [ ]:
a.__dir__()

['__new__',
 '__repr__',
 '__hash__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__add__',
 '__radd__',
 '__sub__',
 '__rsub__',
 '__mul__',
 '__rmul__',
 '__mod__',
 '__rmod__',
 '__divmod__',
 '__rdivmod__',
 '__pow__',
 '__rpow__',
 '__neg__',
 '__pos__',
 '__abs__',
 '__bool__',
 '__invert__',
 '__lshift__',
 '__rlshift__',
 '__rshift__',
 '__rrshift__',
 '__and__',
 '__rand__',
 '__xor__',
 '__rxor__',
 '__or__',
 '__ror__',
 '__int__',
 '__float__',
 '__floordiv__',
 '__rfloordiv__',
 '__truediv__',
 '__rtruediv__',
 '__index__',
 'conjugate',
 'bit_length',
 'bit_count',
 'to_bytes',
 'from_bytes',
 'as_integer_ratio',
 '__trunc__',
 '__floor__',
 '__ceil__',
 '__round__',
 '__getnewargs__',
 '__format__',
 '__sizeof__',
 'real',
 'imag',
 'numerator',
 'denominator',
 '__doc__',
 '__str__',
 '__setattr__',
 '__delattr__',
 '__init__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__dir__',
 '__class__']

# **Interface & Abstract Classes** :-

**Abstract Class** : - Abstract class is a collection of Abstract method & Non-abstrt method.

**Abstract Method** :- The method which dosn't contain any implementation part that corresponding method is called as "Abstract Method"

**Non Abstract Method** :- The Method which contain the implementTION part the correspoinding method will be called as "Non Abstract Method"

**Interface** : - Interface is a collection of abstract methods

* If there is no any implementation part for method & Condstructor we can replace with PASS,empty method are constrcutor is not supported.

(common  ..> Non Abstract Methof, different ..> Abstract Method)

In [ ]:
from abc import*
class RBI(ABC):
  def min_bal(self):
    pass
  def RI(self):
    print("RI is 6.5%")

class SBI(RBI):
  def min_bal(self):
    print("Min_bal is 2000 rupees :")
class HDFC(RBI):
  def min_bal(self):
    print("Min_bal is 0 rupees :")
class ICICI(RBI):
  def min_bal(self):
    print("Min-Bal is 0 Rupees: ")

s1=SBI()
s1.min_bal()
s1.RI()
h1=HDFC()
h1.min_bal()
h1.RI()

Min_bal is 2000 rupees :
RI is 6.5%
Min_bal is 0 rupees :
RI is 6.5%

In [ ]:
from abc import*
class RBI(ABC):
  def min_bal(self):
    pass
  def RI(self):
    print("RI is 6.5%")

class SBI(RBI):
  def min_bal(self):
    print("Min_bal is 2000 rupees :")
class HDFC(RBI):
  def min_bal(self):
    print("Min_bal is 0 rupees :")
class ICICI(RBI):
  def min_bal(self):
    print("Min-Bal is 0 Rupees: ")

s=input("Enter class name :")
c=globals()[s]
c1=c()
print(type(s),type(c))
c1.min_bal()
c1.RI()


#global uses for convert string into corresponding class

Enter class name :HDFC
<class 'str'> <class 'abc.ABCMeta'>
Min_bal is 0 rupees :
RI is 6.5%

In [ ]:
from  abc import*
class car(ABC):
  def __init__(self,regno):
    self.regno=regno
  def opentank(self):
    print("Fill the tank with Registration Number :",self.regno)
  def steering(self):
    pass
  def breaking(self):
    pass

class maruthi(car):
  def steering(self):
    print("Manual Steering")
  def breaking(self):
    print("Hydralic Breaks")

class santro(car):
  def steering(self):
    print("Power Steering")

  def breaking(self):
    print("Gas Breaks")

class lamborghini(car):
  def steering(self):
    print("Dhaasu Car")


  def breaking(self):
    print("Qualitu Breaks")


m1=maruthi("S32ZA")
m1.opentank()
m1.steering()
m1.breaking()

s1=santro("A89R5")
s1.opentank()
s1.steering()
s1.breaking()

l1=lamborghini("R789A")
l1.opentank()
l1.steering()
l1.breaking()

Fill the tank with Registration Number : S32ZA
Manual Steering
Hydralic Breaks
Fill the tank with Registration Number : A89R5
Power Steering
Gas Breaks
Fill the tank with Registration Number : R789A
Dhaasu Car
Qualitu Breaks

# **Interface**
Interface is a collection of abstract methods


* Interface is implemented by imheriting the properties of abc Model

In [ ]:
from abc import*
class test(ABC):
  def operation(self):
    pass

class sub1(test):
  def operation(self,a):
    print(a*a)

class sub2(test):
  def operation(self,a):
    print(a**3)

class sub3(test):
  def operation(self,a,b):
    print(a+b)

s1=sub1()
s1.operation(10)
s2=sub2()
s2.operation(5)
s3=sub3()
s3.operation(2,3)

100
125
5

In [ ]:
from abc import *
class vehicle(ABC):
    def wheel(self):
        pass
class cycle(vehicle):
    def wheel(self,a):
        print("number of wheels in cycle :",a)
class auto(vehicle):
    def wheel(self,a):
        print("number of wheels in auto :",a)
class car(vehicle):
    def wheel(self,a):
        print("number of wheels in car ",a)
class bus(vehicle):
    def wheel(self,a):
        print("number of wheels in bus :",a)
class truck(vehicle):
    def wheel(self,a):
        print("number of wheels in truck :",a)
a1=cycle()
a1.wheel(2)
a2=auto()
a2.wheel(3)
a3=car()
a3.wheel(4)
a4=bus()
a4.wheel(6)
a5=truck()
a5.wheel(20)

number of wheels in cycle : 2
number of wheels in auto : 3
number of wheels in car  4
number of wheels in bus : 6
number of wheels in truck : 20

Access Specifier and Access
In python we have 3 Access Modifiers  :-

1 - Private

2 - Public

3 - Protected

# **Public** :-
If Variable are method is public we can acess anywhere within the program

# **Protected** :-
If variable are method is protected we can access within the next immediate class(We can't access in the main program)

# **Private** : -
 If variable are method is privaate we can access within the same class

In [ ]:
#Public
class employee:
  def __init__(self,name,id1,sal,dep):
    self.name=name
    self.id1=id1
    self.sal=sal
    self.dep=dep

e1=employee("shubh",123,5000,"AI")
print(e1.name,e1.id1,e1.sal,e1.dep)

shubh 123 5000 AI

In [ ]:
#Public
class employee:
  def __init__(self,name,id1,sal,dep):
    self.name=name
    self.id1=id1
    self.sal=sal
    self.dep=dep
  def display(self):
    print(self.name,self.id1,self.sal,self.dep)

e1=employee("shubham",4088,500000000,"AI")
e1.display()

shubham 4088 500000000 AI

Protected Variable can be dclared using single underscore

In [ ]:
class employee:
  def __init__(self,name,id1,sal,dep):
    self._name=name
    self._id1=id1
    self._sal=sal
    self._dep=dep

  def _display(self):
    print("Name:",self._name)
    print("ID:",self._id1)

class geeks(employee):
  def __init__(self,name,id1,sal,dep):
    super().__init__(name,id1,sal,dep)

  def display(self):
    self._display()
    print("Salary:",self._sal)
    print("Department:",self._dep)

e1=employee("Shubham",123,500000,"AI")
e1._display()

Name: Shubham
ID: 123

# **Private Variable** :-

In python programming, we can declare private variable & Private Methods using __(Double underscore)

In [ ]:
class employee:
  __cname="Parul"
  def __init__(self,name,id1,sal,dep):
    self.__name=name
    self.__id1=id1
    self.__sal=sal
    self.__dep=dep

  def __display(self):
    print("College Name:",employee.__cname)
    print("Name:",self.__id1)
    print("Id:",self.__id1)
    print("Department:",self.__dep)
    print("Salary:",self.__sal)

  def display(self):
      self.__display()

e1=employee("Shubham",123,99999999,"AI")
e1.display()

College Name: Parul
Name: 123
Id: 123
Department: AI
Salary: 99999999

**Qun :- WAP to produce a number from 5 to 1 and append to the list using recursion**

In [ ]:
l=[]
def num(n):
  if n==0:
    return
  else:
    l.append(n)
    num(n-1)
  return l

d=num(0)
print(d)

None

**Qun :- WAP to produce a number from 1 to 4 and append to the list using recursion**

In [ ]:
l=[]
def num(n):
  if n==0:
    return
  else:
    l.append(n)
    num(n+1)
  return l

d=num(0)
print(d)

**Qun :- WAp to print 5th table using recursion **