<a href="https://colab.research.google.com/github/ShubhamMahajan880/Impact-Training-_Python-Notes-/blob/main/1_Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Right Angle Triangle**

In [ ]:
a = int(input("Enter the height of triangle: "))
for i in range(a):
    for j in range(i+1):
        print("* ", end='')
    print()

Enter the height of triangle: 15
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

**Reverse Right Anglr Triangle**

In [ ]:
a = int(input("Enter the height of triangle: "))
for i in range(a):
    for j in range(a-i):
        print(" *", end = '')
    print()

Enter the height of triangle: 10
 * * * * * * * * * *
 * * * * * * * * *
 * * * * * * * *
 * * * * * * *
 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

**Inverted Triangles**

In [ ]:
def print_triangle(n):
    for i in range(n, 0, -1):
        print(' ' * (n - i), end='')
        for j in range(0, i):
            print('*', end='')
        print()

print_triangle(10)

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

**Qun - Write a program to take the sides of a triangle as a input and check whether it is right angled triangle or not**

In [ ]:
H = int(input("Enter the size of hypotenus: "))
P = int(input("Enter the size of Perpendicular: "))
B = int(input("Enter the size of base: "))

if(H**2 == P**2 + B**2):
  print("The given sides",H,P,B,"are the sides of a right angle.")
else:
  print("The given sides",H,P,B,"are not the sides of a right angle.")

Enter the size of hypotenus: 15
Enter the size of Perpendicular: 10
Enter the size of base: 5
The given sides 15 10 5 are not the sides of a right angle.

**Qun :- Write a program to read breadth and height of a triangle and find it's area**

In [ ]:
H = float(input("Enter the size of Height: "))
B = float(input("Enter the size of base: "))

area = (0.5 * B * H)
print("Area of the given triangle with sides",H ,B,"is", area)

Enter the size of Height: 20.5
Enter the size of base: 10.5
Area of the given triangle with sides 20.5 10.5 is 107.625

Note :- Here in python there is no limit of storing any value to any datatype example int as all the data type is treated as an object hence it just depends on the the size of your device

In [ ]:
a = 1234567890987654321234567890987654321234567890
type(a)

int

*What happens to the id of a variable if we change the value of the variable*
*Because when we change the value the previous object which was stored gets deleted and creates a new object*

In [ ]:
a = 10
print(id(a))
a = 20
print(id(a))

134967140188688
134967140189008

**Qun :- Write a python program to find out roots of a quadratic equation**

In [ ]:
import math as m
a = float(input("Enter the coeffecient of x^2: "))
b = float(input("Enter the coeffecient of x: "))
c = float(input("Enter the constant: "))

root1 = (-b + m.sqrt((b**2) - (4*a*c)))/2
root2 = (-b - m.sqrt((b**2) - (4*a*c)))/2

print("Roots of the given equation is: ", root1, root2)

Enter the coeffecient of x^2: 1
Enter the coeffecient of x: 0
Enter the constant: -1
Roots of the given equation is:  1.0 -1.0

**Qun :- Write a program to read 2 numbers and print cube of its difference**

In [ ]:
a = int(input("Enter the first no.: "))
b = int(input("Enter the Second no.: "))
print((a-b)**3)

Enter the first no.: 10
Enter the Second no.: 5
125

**Qun :- Write a program to read n values at a time and print it's sum**

In [ ]:
values = list(map(int, input("Enter multiple values: ").split()))
sum = 0
for i in range(0, len(values)):
 sum = sum + values[i]
print(" The sum of the numbers is: ", sum)

Enter multiple values: 1 5 6 8 9
 The sum of the numbers is:  29

**Qun :- Write a program to take n inputs seperated with coma and return maximum**

In [ ]:
inputs = input().split(',')

max,min = 0,999999999
for i in range(0, len(inputs)):
  if int(inputs[i])>max:
    max = int(inputs[i])
  if int(inputs[i])<min:
    min = int(inputs[i])
print("Maximum and minimum of the given inputs are: ", max, min)

12,64,125,89,78,456
Maximum and minimum of the given inputs are:  456 12

**Qun :- Write a program to read n elements and find second highest without sorting**

In [ ]:
List = list(map(int, input("Enter mulltiple values seperated with spaces: ").split()))
max,smax = 0,0
for i in range(0, len(List)):
  if List[i]>max:
    smax = max
    max = List[i]
  else:
    if List[i]>smax:
      smax = List[i]
print("The second maximum of the given inputs is: ", smax)

Enter mulltiple values seperated with spaces: 56 78 12 4826 565 78 1462
The second maximum of the given inputs is:  1462

**Qun :- Write a program to read n elements and find second lowest without sorting**

In [ ]:
List = list(map(int, input("Enter mulltiple values seperated with spaces: ").split()))
min,smin = 999999,0
for i in range(0, len(List)):
  if List[i]<min:
    smin = min
    min = List[i]
  else:
    if List[i]<smin:
      smin = List[i]
print("The second minimum of the given inputs is: ", smin)

Enter mulltiple values seperated with spaces: 56 78 12 4826 565 78 1462
The second minimum of the given inputs is:  56

* Method for converting character into its ASCII Value

In [ ]:
ord('a')

97