<a href="https://colab.research.google.com/github/ShubhamMahajan880/Impact-Training-_Python-Notes-/blob/main/2_Conditional_Statement_%26_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Qun :- Detect a number is odd or even without using conditional statements or any comaparision operators

In [2]:
a = int(input("ENter a number: "))
n = ['Even', 'Odd']
print(n[a%2])

ENter a number: 5
Odd

In [3]:
a = int(input("ENter a number: "))
n = ['Even', 'Odd']
print(n[a%2])

ENter a number: 4
Even

**Qun :- Print the sum of didgits of a given number untill a single number is left without using any loops**

In [4]:
a = int(input("ENter a number: "))
if(a%9 != 0):
  print(a%9)
else:
  print(9)

ENter a number: 45966
3

**Qun :- Out of two values find out max and min without using comparision operators and conditional statements**

In [5]:
x = 10
y = 20

max = ((x+y)+abs(x-y))/2
min = ((x+y)-abs(x-y))/2

print("max =",max , "min=", min )

for i in range(0, abs(x-y)):
  print("not equal")
  break;

max = 20.0 min= 10.0
not equal

**Qun :- Print all the prime numbers between a given range in the best way optimaizeda**

In [6]:
import math

n = int(input("Enter the number "))
List = []
for i in range(1, n+1):
  List.append(i)
all(List)

for i in range(2, round(math.sqrt(n))):
  List[i] = True
  for l in range(i**2, n):
    List[l] = False
    l = l+i
for  k in range(1, n+1):
  if k==True:
    print(k)

Enter the number 10
1

# **Some Basic and Useful Concepts**

In [8]:
#int
a = 10
print(a)
print(type(a))
id(a)

10
<class 'int'>

140379165671952

In [9]:
#float

a = 12.5
print(a)
print(type(a))

12.5
<class 'float'>

In [10]:
#str
s = "kira"
print(s)
print(type(s))

kira
<class 'str'>

In [11]:
#bool
s = "Rohit"
print(s)
b = bool(s)
print(b)

Rohit
True

In [12]:
d = 4>1
e = 5<2

print(d, e)
print(type(d))

True False
<class 'bool'>

**We cannot update real or imaginary part in a complex no.**

In [13]:
#complex
s = 3+4j

print(s.real)
print(s.imag)
print(type(s))

3.0
4.0
<class 'complex'>

In [14]:
a, b = map(int, input().split())
print(a+b)

12 5
17

In [15]:
a = float(input("Enter a: "))
print(a)
print(type(a))

Enter a: 10
10.0
<class 'float'>

In [16]:
s = "Krishna"
'r' in s

True

In [17]:
'f' in s

False

In [18]:
p = [1,2,3,4,5]
4 in p

True

In [19]:
6 not in p

True

In [20]:
7 in p

False

**Qun :- Read two number and find the maximum**

In [21]:
a,b = map(int, input("Enter a,b: ").split())

if(a>b):
  print("a is max")
else:
  print("b is max")

Enter a,b: 10 69
b is max

**Qun :- Write a program to read a character from the user and check whwthjer it is vowel or consonant**

In [22]:
char = input("Enter the character: ")

s = 'aeiouAEIOU'
if char in s:
  print("Enter char is a vowel")
else:
  print("Enterd char",char, "is a Consonent")

Enter the character: b
Enterd char b is a Consonent

In [23]:
a = 10
b = 10
a == b

True

In [24]:
a != b

False

In [25]:
id(a)

140379165671952

In [26]:
id(b)

140379165671952

In [27]:
a is b

True

In [28]:
a is not b

False

In [29]:
c = 10
d = 20

c is d

False

In [30]:
c is not d

True

# **Walrus Operator :=**

In [31]:
a,b = 3,2
c = ((a1 := a**2)+(b1:=b**2)+(c1:=2*a*b))
print(a1, b1, c1,c)

9 4 12 25

**Qun :- Write a program to read two numbers from user and perform addition operation in a single line using walrus but without using split and map**

In [32]:
print((a := int(input("Enter a: "))) + (b := int(input("Enter b: "))))

Enter a: 5
Enter b: 6
11

In [34]:
a,b = map(int, input().split())

print("a is max") if (a>b) else print("b is max")

12 56
b is max

**Qun :- Read 3 numbers and find max**

In [35]:
a,b,c = map(int, input().split())

print("a is max") if (a>b) and (a>c) else print("b is max") if(b>c) else print("c is max") if(c>b) else print("a,b,c are equal")

9 8 4
a is max

Qun :- Replace the frequent character
def frequent_character_replacing(string, x):
The function accepts a string 'str' and a character 'x' as its arguments. You are required to find the most frequent character in string 'str' and replace it with character 'x' across the string, and return the same.

Note:  If the frequency of two characters are the same , we have to consider the character the character with lower ascii value.
```

In [ ]:
def frequent_char_replaced(string, X):

    most_frequent_char = ''
    c = 0
    for i in string:
        i_count = string.count(i)
        if i_count > c:
            most_frequent_char = i
            c = i_count
    new = string.replace(most_frequent_char, X)
    return new

string = input()
rep_char = input()[:1]
res = frequent_char_replaced(string, rep_char)
print(res)

**Qun :- Read a character from the user and check whether it is uppercase character or lowercase character or digit or special characters.**

In [39]:
ch = input("Enter a character: ")
if((ch>='A')and(ch<='Z')):
  print("Uppercase char")
elif((ch>='a')and(ch<='z')):
  print("Lowercase char")
elif((ch>='0')and(ch<='9')):
  print("Digit")
else:
  print("Special Char")

Enter a character: $
Special Char

Qun :- Take name and shopping amount from a customer and the calculate the final bill after the discount. Discount categories are as follows:-


*   amt>=4000: 4% discount
*   amt>=3000: 3% discount
*   amt>=2000: 2% discount
*   amt>=1000: 1% discount
*   amt<1000: No Discount

In [40]:
name = input("Enter the name: ")
amt = int(input("Enter the amount: "))

if(amt>=4000):
  print("You got a 4% discount!")
  amt = amt-(0.04*amt)
  print(name, ", your amount after dicount is: ", amt)
elif((amt>=3000)and(amt<4000)):
  print("You got a 3% discount!")
  amt = amt-(0.03*amt)
  print(name, ", your amount after dicount is: ", amt)
elif((amt>=2000) and (amt<3000)):
  print("You got a 2% discount!")
  amt = amt-(0.02*amt)
  print(name, ", your amount after dicount is: ", amt)
elif((amt>=1000)and(amt<2000)):
  print("You got a 1% discount!")
  amt = amt-(0.01*amt)
  print(name, ", your amount after dicount is: ", amt)
else:
  print(name, ", your amount after dicount is: ", amt)

Enter the name: Shubham
Enter the amount: 4589
You got a 4% discount!
Shubham , your amount after dicount is:  4405.44

**Qun :- Write a program to read name of the student, roll no. and three subject marks if student is pass calculate the grade of the student.**

In [43]:
name = input("Enter the name: ")
roll = int(input("Enter the roll no.: "))
s1,s2,s3 = map(int, input("Enter the marks of 3 subjects: ").split(','))
print("Name: ",name)
print("Roll number: ", roll)
print("Maths: ",s1,"Physics: ",s2,"Chemistry: ",s3)
if((s1>=35)and(s2>=35)and(s3>=35)):
  total = s1+s2+s3
  avg= total/3
  if(avg>=60):
    print(name, "secured First grade.")
  elif(avg>=50):
    print(name, "secured Second grade.")
  elif(avg>=35):
    print(name, "secured Third grade.")
else:
  print(name,"is fail.")

Enter the name: Shubh
Enter the roll no.: 897
Enter the marks of 3 subjects: 96,99,98
Name:  Shubh
Roll number:  897
Maths:  96 Physics:  99 Chemistry:  98
Shubh secured First grade.

**Qun :- Write a program to read a number from the user and check whether it is divisable by 3 and 5 or not.**

In [44]:
num = int(input("Enter the number: "))
if(num%3==0):
  if(num%5==0):
    print("Enterd number",num, "is divisable by both 3 and 5.")
  else:
    print("Enterd number",num, "is only divisable by 3.")
else:
  if(num%5==0):
    print("Enterd number",num, "is divisable by 5.")
  else:
    print("Enterd number",num, "is not divisable by both 3 and 5")

Enter the number: 96
Enterd number 96 is only divisable by 3.