<a href="https://colab.research.google.com/github/ShubhamMahajan880/Impact-Training-_Python-Notes-/blob/main/4_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = "Krishna"
for p in s:
  print(p, end=" ")

K r i s h n a

In [ ]:
l = [2,4,6,8,10]
for p in l:
  print(p, end=" ")

2 4 6 8 10

In [ ]:
for p in range(len(l)):
  print(p, l[p])

0 2
1 4
2 6
3 8
4 10

In [ ]:
for p in range(2, 21, 2):
  print(p, end=" ")

2 4 6 8 10 12 14 16 18 20

Method for Coverting character into its ASCII Value

In [ ]:
ord('d')

100

In [ ]:
sent = input("Enter the string: ")
sent = sent.lower()

sent = list(sent)
r = ''
for i in range(97, 123):
  c = chr(i)
  if c not in sent:
    r=r+c
if r == '':
  print("0")
else:
  print(r)

Enter the string: abcdefghijklnmopqrstuvwxyz
0

In [ ]:
def invertWordsInSameOrder(arr):
  l = arr.split()
  for i in l:
    i = i[::-1]
    print(i, end=" ")

arr = input("Enter the string: ")
invertWordsInSameOrder(arr)

Enter the string: abcd xyz
dcba zyx

**Qun :- Write a program to print prime number between 1 to 50**

In [ ]:
for i in range(2,51):
  c=0
  for j in range(1, p+1):
    if(i%j == 0):
      c += 1
  if (c==2):
    print(i, end=" ")

2 3 5 7 11 13 17 19 25 46 49

Qun :- print perfect numbers from 1-100
(6 --> 1,2,3) **bold text**

In [ ]:
for i in range(1, 10001):
  sum = 0
  for j in range(1, (i//2 + 1)):
    if(i%j == 0):
      sum += j
  if(sum == i):
    print(i, end=" ")

6 28 496 8128

Qun :- i/p = 13456
o/p = 1925 **bold text**

In [ ]:
yo = input("Enter input: ")
new = ''
for i in yo:
  if(int(i) % 2 != 0):
    new = new+(str(int(i)**2))
print(new)

Enter input: 13456
1925

**Qun :- Odd numbers from 30 to 50**

In [ ]:
i=30
while(i<=50):
  if(i%2 != 0):
    print(i, end=" ")
  i += 1

31 33 35 37 39 41 43 45 47 49

**Qun :- Write a program to print sum of digits**

In [ ]:
n = int(input("Enter number: "))
s=0
while(n!=0):
  r = n%10
  s = s+r
  n = n//10
print("sum: ", s)

Enter number: 1234
sum:  10

Qun :- REverse of the digits

In [ ]:
n = int(input("Enter number: "))
reverse = 0
while(n!=0):
  #l = len(str(n))
  r = n%10
  #r = r*(10**(l-1))
  reverse = reverse*10 + r
  n = n//10
print(reverse)

Enter number: 5023
3205

Qun :- Check if a number is disarium number. (89 --> 9^2 + 8^1 = 89)

In [ ]:
num = int(input("Enter the number: "))
sum = 0
temp = num
while(temp != 0):
  s = temp%10
  sum += s ** len(str(temp))
  temp = temp // 10
if (num == sum):
  print(num, "is a disarium number.")
else:
  print(num, "is not a disarium number")

Enter the number: 175
175 is a disarium number.

Qun :- s1 = "lokesh it"
s2 = 123456

In [ ]:
s1 = "lokesh it"
s2 = 123456

In [ ]:
print(s1.capitalize(),
s1.title(),
s1.upper(),
s1.lower(),
s1.isupper(),
s1.isalnum(),
s1.isdigit())

Lokesh it Lokesh It LOKESH IT lokesh it False False False

**Qun :- Take a string as input(both alpha numeric), then get rid of alphabets and return the indices of numeric digits in a string.**

In [ ]:
ip = input("Enter the string: ")
op = ''
for i in range(len(ip)):
  if(ip[i].isdigit()):
    print(i, end=(''))

Enter the string: abc123
345

QUn :- Take a string as input which contains both alphanumeric inputs now reverse the positions of alphabets but keep the digits at the same index.
a1b2igh3 ---> h1g2iba3 (TCS) **bold text**

In [ ]:
ip = input("Enter the string: ")
op = ''
for i in (ip):
  if(i.isalpha()):
    op = op + i
op = op[::-1]
res = ''
c = 0
for i in ip:
  if(i.isalpha()):
    res = res+op[c]
    c = c+1
  else:
    res = res + i

print(res)

Enter the string: a1b2igh3
h1g2iba3

**Qun ::- Return the number of special characters count:**

In [ ]:
ip = input("Enter string: ")
count = 0
for i in ip:
  if i.isalnum():
    pass
  else:
    count += 1
print(count)

Enter string: gasg!54@#vscsdls*
4

Qun :- replace vowels with next vowel
Shubham --> Shabhem **bold text**

In [ ]:
s = input()
s = s.lower()
r = ''
vowel = 'aeiou'
for p in s:
  if(p in vowel):
    if(p == 'u'):
      r += 'a'
    else:
      r = r + vowel[vowel.index(p)+1]
  else:
    r += p
print(r)

Shubham
shabhem