<a href="https://colab.research.google.com/github/ShubhamMahajan880/Impact-Training-_Python-Notes-/blob/main/6_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d = {}
type(d)

dict

In [ ]:
d = dict()
print(type(d))

<class 'dict'>

In [ ]:
d = {'a':10, 'b':20, 'c': 40, 'e': 50}
print(d)

{'a': 10, 'b': 20, 'c': 40, 'e': 50}

In [ ]:
d['a']=60
d

{'a': 60, 'b': 20, 'c': 40, 'e': 50}

In [ ]:
d['f']=20
d

{'a': 60, 'b': 20, 'c': 40, 'e': 50, 'f': 20}

In [ ]:
d = {'a':10, 'b':12.5, 'c':"Krishna"}
print(d)
len(d)

{'a': 10, 'b': 12.5, 'c': 'Krishna'}

3

In [ ]:
d['g'] = 90
d

{'a': 10, 'b': 12.5, 'c': 'Krishna', 'g': 90}

In [ ]:
e = {"Name":"Rakesh", "id1":101, "Dept":"CSE", "Salary":650000}
print(e)
print(e["Dept"])
d = e.get("Salary")
print(d)
e["Salary"]=780000
print(e)
e["subject"] = "Python"
print(e)

{'Name': 'Rakesh', 'id1': 101, 'Dept': 'CSE', 'Salary': 650000}
CSE
650000
{'Name': 'Rakesh', 'id1': 101, 'Dept': 'CSE', 'Salary': 780000}
{'Name': 'Rakesh', 'id1': 101, 'Dept': 'CSE', 'Salary': 780000, 'subject': 'Python'}

In [ ]:
for p in e.keys():
  print(p)
for q in e.values():
  print(q)
for p,q in e.items():
  print(p,q)
for s in e.items():
  print(s)
for s in e.items():
  print(s[0], s[1])
r = sorted(list(e.keys()))
print(r)

Name
id1
Dept
Salary
subject
Rakesh
101
CSE
780000
Python
Name Rakesh
id1 101
Dept CSE
Salary 780000
subject Python
('Name', 'Rakesh')
('id1', 101)
('Dept', 'CSE')
('Salary', 780000)
('subject', 'Python')
Name Rakesh
id1 101
Dept CSE
Salary 780000
subject Python
['Dept', 'Name', 'Salary', 'id1', 'subject']

**Qun :- Write a program to print squares of even numbers from 1 to 20.(Key is number and value is square of the number.)**

In [ ]:
d = {i:i*i for i in range(1,21) if(i%2 == 0)}
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

**Qun :- Write as program to print cubes of odd no.s from 30 to 50**

In [ ]:
e = {i:i**3 for i in range(30, 51) if(i%2 != 0)}
print(e)

{31: 29791, 33: 35937, 35: 42875, 37: 50653, 39: 59319, 41: 68921, 43: 79507, 45: 91125, 47: 103823, 49: 117649}

In [ ]:
# count of each character.
x = "Hyderabad"
d = {p:x.count(p) for p in x}
print(d)

{'H': 1, 'y': 1, 'd': 2, 'e': 1, 'r': 1, 'a': 2, 'b': 1}

**Qun :- Write a program to read string from the user and print vowel character count.**

In [ ]:
x = input()
x.lower()
vowel = ['a','e','i','o','u']

d = {i:x.count(i) for i in x if i in vowel}
print(d)

Madhya Pradesh
{'a': 3, 'e': 1}

In [ ]:
x = input()
x.lower()
d = {p:x.count(p) for p in x if p in "aeiou" }
m = max(d.values())

for p,q in d.items():
  if(q==m):
    print(p)

Madhya Pradesh
a

In [ ]:
s = input()
x = input()[:1]
s = s.lower()
d={p:s.count(p) for p in s}
m = max(d.values())
l = []
for p,q in d.items():
  if(m==q):
    l.append(p)
l.sort()
res = ''
for p in s:
  if(p==l[0]):
    res = res+x
  else:
    res = res+p

print(res)

ABciittTa
x
abciixxxa

In [ ]:
n = int(input("Enter no. of tickets: "))
l = list(map(int, input().split()))[:n]

d = {p:l.count(p) for p in l}
r = []
for i,j in d.items():
  if(i==j):
    r.append(i)

if(len(r)>=1):
  print(max(r))
else:
  print("-1")

Enter no. of tickets: 15
5 5 5 5 5 5 7 7 7 7 7 9 9 1 3
1

Qun :-  I/p :
{"raju: 45, "anil":56, "zoo":34, "saritha":2, "bharathi":29, "krishna": 32}

 o/p :
{"anil": 56, "bharathi":29, ......}

{"saritha":2, "bharathi": 29, ......}

In [ ]:
d = {"raju": 45, "anil":56, "zoo":34, "saritha":2, "bharathi":29, "krishna": 32}

v = sorted(d.values())
k = sorted(d.keys())

e = {}
f = {}
for s in k:
  for p,q in d.items():
    if(s==p):
      e.update({p:q})
      break
for s in v:
  for p,q in d.items():
    if(s==q):
      f.update({p:q})
      break

print(e)
print(f)

{'anil': 56, 'bharathi': 29, 'krishna': 32, 'raju': 45, 'saritha': 2, 'zoo': 34}
{'saritha': 2, 'bharathi': 29, 'krishna': 32, 'zoo': 34, 'raju': 45, 'anil': 56}

In [ ]:
s = input("Enter string: ")
n = int(input("Enter limit: "))
l = list(map(str, s.split()))

s = set()
for i in l:
  if l.count(i)>=n:
    s.add(i)

print(*s, end=" ")

Enter string: cat latt matter cat matter cat cat latt latt
Enter limit: 3
latt cat

In [ ]:
l = ['cat', 'latt', 'matter', 'cat', 'matter', 'cat', 'cat', 'latt', 'latt']
l.count('cat')

4

In [ ]:
d = {"krishna": [23,21,24], "raju":[21,20,18], "saritha":[22,20,16]}
for p,q in d.items():
  print(p)
  s = sum(q)
  avg = s/len(q)
  print("Avg: %.2f"%avg)

krishna
Avg: 22.67
raju
Avg: 19.67
saritha
Avg: 19.33

Qun :- The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Input Format:

The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

Output Format:

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

Sample Input:

```
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
```
Sample Output:
```
56.00
``` **bold text**

In [ ]:
n = int(input())
sm = {}
for _ in range(n):
    name, *line = input().split()
    s = list(map(float, line))
    sm[name] = s
query_name = input()

avg = sum(sm.get(query_name)) / len(sm.get(query_name))

print("%.2f"%avg)

3
mallika 52 56 60
arjun 70 58 63
krishna 67 68 69
mallika
56.00

Qun :-
```
d={"Krishna":{"Python":23, "C": 18, "C++": 20},
"saritha":{"Python":21, "C": 19, "C++": 22},
"Raju":{"Python":20, "C": 17, "C++": 22}}
```
output:-
```
Krishna
------------
23
18
20

In [ ]:
d={"Krishna":{"Python":23, "C": 18, "C++": 20},
"saritha":{"Python":21, "C": 19, "C++": 22},
"Raju":{"Python":20, "C": 17, "C++": 22}}

for i,j in d.items():
  print(i)
  print("-------")
  for b in j.values():
    print(b)

Krishna
-------
23
18
20
saritha
-------
21
19
22
Raju
-------
20
17
22